.footer__menu {
    display: flex;
    background-color: #9da5a5;

    a {
        text-align: center;
        font-size: 15px;
        color: white;
    }

    .item_seleccion {
        background-color: #000090;
    }
}