.preguntas-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url(/recursos/fondo_03.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    li {
        width: 250px;
        padding: 3px;
        border: 3px solid;
        background-color: #2fcdcd;
        color: aliceblue;
        font-size: 40px;
    }

    li:hover {
        width: 400px;
        height: 60px;
        padding: 3px;
        border: 3px solid;
        background-color: #476161;
        color: rgb(235, 239, 241);
        font-size: 50px;
    }
}